POSTGRES_USER=mlflow
POSTGRES_PASSWORD=changeme # This is the only field to be changed. No account made on a third party service, so no security risk. This is only for local development.
POSTGRES_DB=mlflow