# MLflow database configuration
POSTGRES_USER=mlflow
POSTGRES_PASSWORD=changeme # This is the only field to be changed. No account made on a third party service, so no security risk. This is only for local development.
POSTGRES_DB=mlflow

# Airflow's own Postgres (separate from MLflow's database)
AIRFLOW_POSTGRES_USER=airflow
AIRFLOW_POSTGRES_PASSWORD=changeme # This is the only field to be changed. No account made on a third party service, so no security risk. This is only for local development.
AIRFLOW_POSTGRES_DB=airflow

# Airflow needs a Fernet key for encrypting sensitive data.
AIRFLOW_UID=1000
AIRFLOW_FERNET_KEY=changeme_generate_a_real_one
# You can generate a Fernet key by running the following command in Python:
# python3 -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
# if that doesn't work, you can run it through the training container with the following command:
# docker compose run --rm training python3 -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())

# Airflow's webserver needs an admin user to log in. You can change these values if you want, but they are only for local development.
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=changeme